
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .body {
    background-color:rgb(244, 223, 226);
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background:rgb(234, 215, 244);
}

.logo {
    width: 100px;
    border-radius: 50px;
  }

.nav-items > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    color:rebeccapurple;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    margin: 5px;
    padding: 10px;
    width : 200px;
    background-color: rgb(217, 217, 237);
    color: darkgreen;
    border-radius: 1rem;

}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover {
    cursor: pointer;
    border:1px solid brown ;
}

.search {
    padding: 10px;
}

.res-img {
    padding: 5px;
    width: 100%;
    object-fit: cover;
}

.res-card h2,
.res-card h5 {
  margin: 2px 0;  
  padding: 0;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}


.shimmer-card {
    width: 200px;
    background-color: rgb(233, 226, 226);
    height: 200px;
    margin: 20px;
}

.shimmer-container {
    display: flex;
}
.login {
    height: 40px;
    background-color: rgb(199, 227, 247);
    color: rgb(234, 0, 255);
    border: 1px solid blueviolet;


}

.filter {
    display: flex;
}

.user-card {
    padding: 10px;
    border: 1px solid blue;
} */
